/* ==========================================================================
   Layout
   ========================================================================== */
/* Header
   ========================================================================== */
.header {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Breadcrumbs
   ========================================================================== */
/* Container
   ========================================================================== */
/* Content
   ========================================================================== */
/* Main content
   ========================================================================== */
/* Sub content
   ========================================================================== */
/* Page footer
   ========================================================================== */
